@import url("https://fonts.googleapis.com/css?family=Quando");
* {
  box-sizing: border-box;
  font-family: "Quando", serif;
  font-weight: 400;
}

body {
  margin: 0;
  background: #e74c3c;
  color: #ecf0f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header {
  background: #2c3e50;
  width: 100%;
}
.title {
  font-size: 48px;
  text-align: center;
}

.display__session {
  font-size: 36px;
}
.timer-display {
  cursor: pointer;
  text-align: center;
}

.display__time-left {
  font-size: 100px;
  margin: 0;
}

.checkmarks {
  display: flex;
  justify-content: center;
}

.checkmarks span {
  width: 100%;
  height: 20px;
  text-align: center;
  opacity: 0;
  font-size: 24px;
}

.info {
  display: none;
  line-height: 1.5;
}

.info span {
  display: block;
  text-align: right;
  font-size: 12px;
}

.settings {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background: #2c3e50;
  width: 100%;
  padding: 1em 1em 0 1em;
}

.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.setting span {
  width: 100%;
  text-align: right;
}

.length {
  display: flex;
}

.length span {
  background: #ecf0f1;
  width: 40px;
  color: #2c3e50;
}

.setting button {
  background: #3498db;
  margin: 0 5px;
  color: #ecf0f1;
  border: none;
  outline: none;
}

.setting button:hover {
  cursor: pointer;
  background: #2980b9;
}

.footer {
    margin-top: 1.6em;
    color: #ecf0f1;
    font-size: 12px;
}

.footer a {
    color: #2980B9;
    text-decoration: none;
}

@media (min-width: 768px) {
  .display__time-left {
    font-size: 170px;
  }
}
