@import url("https://fonts.googleapis.com/css?family=Quando");
* {
  box-sizing: border-box;
  font-family: "Quando", serif;
  font-weight: 400;

}

body {
  background: #feffff;
  color: #111111;
}

.container {
  margin: 0 auto;
  max-width: 450px;
    width: 100%;
}

.title {
  font-size: 48px;
  margin-bottom: 5px;
  text-align: center;
  color: #1F4220;
}

.title span {
    color: #C9251F;
}

.timer-display {
  border: 2px solid #1f4220;
  cursor: pointer;
  text-align: center;
  transition: background 0.7s cubic-bezier(.57,.21,.69,1.25);
}

.fill-focus {
    color: #feffff; 
    background: #1f4220;
}

.fill-break {
    color: #feffff; 
    background: #C9251F;
}


.display__time-left {
  font-size: 48px;
}

.checkmarks {
  margin-top: 1px;
  /* border: 2px solid #1F4220; */
  display: flex;
  justify-content: space-around;
}

.checkmarks span {
  display: block;
  border: 2px solid #1f4220;
  width: 100%;
  height: 20px;
  margin: 5px;
}

.info {
    line-height: 1.5;
}

.info span {
    display: block;
    text-align: right;
    font-size: 12px;
}

.settings {
    display: flex;
    flex-direction: column;
}
.setting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.setting span {
   width: 100%;
    text-align: right;
    margin-right: 5px;
}

.length {
    display: flex;
}

.length span {
  width:  40px;
}
.setting input{
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    color: #111111;
    /* border-bottom: 1px solid #111111; */
}
  
.setting button {
    color: #feffff;
    border: none;
    outline: none;
}

.setting button[data-amt="+1"] {
    background: #1f4220;
    /* margin-right: 5px; */
}

.setting button[data-amt="-1"] {
    background: #C9251F;
    /* margin-left: 5px; */
}
